/* Medium screens (e.g., tablets)  @media (max-width: 992px) { }*/
/* Small screens (e.g., phones)  @media (max-width: 576px) { }*/

.my-bg-primary {
  background-color: #576cbc;
}

.my-bg-secondary {
  background-color: #19376d;
}

.my-bg-dark {
  background-color: #0b2447;
}

.my-bg-color {
  background-color: #04152d;
}

.my-bg-simidark {
  background-color: rgba(12, 12, 12, 0.6);
}

.navbar a {
  color: white;
}

/* hero */

.hero-img {
  width: 500px;
}

.hero-h1 {
  font-size: 80px;
}

.hero-p {
  font-size: 25px;
}

/* hero medium screen */
@media (max-width: 992px) {
  .hero-img {
    width: 300px;
  }

  .hero-h1 {
    font-size: 3rem;
  }

  .hero-p {
    font-size: 1rem;
  }
}

/* hero small screen */
@media (max-width: 576px) {
  .hero-img {
    width: 300px;
  }

  .hero-h1 {
    font-size: 3rem;
  }

  .hero-p {
    font-size: 1rem;
  }
}

/* personal info */

.info-img {
  width: 500px;
}

/* info medium screen */
@media (max-width: 992px) {
  .info-h1 {
    font-size: 2rem;
  }

  .info-p {
    font-size: 0.9rem;
  }
}

/* info small screen */
@media (max-width: 576px) {
  .info-h1 {
    font-size: 0.9rem;
  }

  .info-p {
    font-size: 0.7rem;
  }

  .info-img {
    width: 100%;
  }

  .btn-xs {
    padding: 4px 8px;
    font-size: 12px;
  }
}
